. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.nav {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 64px;
    color: #021718;
    text-decoration: none;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu li {
    list-style: none;
    margin-right: 90px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #021718;
    text-decoration: none;
    display: block;

}